.flashSalesContainer {
    /* background-color: red; */
    /* width: 100%; */
    display: flex;
    justify-content: center;
    /* margin-left: 200px; */
    /* align-items: center; */
    /* justify-content: flex-start; */
    flex-wrap: wrap;
  }
  .productContainer {
    margin: 20px;
    border: 1px solid #e5e7eb;
    padding: 10px;
    border-radius: 10px;
    /* display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; */
    /* width: 300px; */
  }
  
  .productContainer img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
  }
  
  .banner_image {
    width: 200px;
  }
  
  @media (max-width: 787px) {
    .flashSalesContainer {
      flex-wrap: wrap;
      display: flex;
      /* display: block; */
      justify-content: center;
    }
    .productContainer {
      width: 40%;
      /* display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; */
      /* margin: 0px; */
      min-height: 200px;
      /* margin-left: auto;
      margin-right: auto; */
    }
    .productContainer img {
      width: 100%;
      /* margin: 30px; */
      height: 300px;
    }
  }
  
  @media (max-width: 638px) {
      .flashSalesContainer {
        flex-wrap: wrap;
        display: flex;
        /* display: block; */
        justify-content: center;
      }
      .productContainer {
        width: 30%;
        margin: 10px;
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
        /* margin: 0px; */
        min-height: 100px;
        /* margin-left: auto;
        margin-right: auto; */
      }
      .productContainer img {
        width: 100%;
        /* margin: 30px; */
        height: 150px;
      }
    }
  
    @media (max-width: 600px) {
      .productContainer {
        width: 150px;
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
        /* margin: 0px; */
        min-height: 100px;
        /* margin-left: auto;
        margin-right: auto; */
      }
      .productContainer img {
        width: 100%;
        /* margin: 30px; */
        height: 130px;
      }
    }
  
    /* @media (max-width: 300px) {
      .productContainer {
        width: 45%;
        min-height: 100px;
        /* margin-left: auto;
        margin-right: auto; */
      }
      .productContainer img {
        width: 100%;
        /* margin: 30px; */
        height: 150px;
      }
    } */
  