body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f4f6f8;
}

.job-page {
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 20px;
}

.hero h1 {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
}

.hero p {
  font-size: 1.1rem;
}

.job-list {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
}

/* Job card */
.job-card {
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.job-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
}

.job-card h2 {
  margin: 0 0 0.5rem;
  font-size: 1.4rem;
  color: #1f2937;
}

.company {
  color: #6b7280;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.location {
  font-size: 0.95rem;
  margin-bottom: 1rem;
  color: #4b5563;
}

/* Tags */
.tags span {
  display: inline-block;
  background: #e0e7ff;
  color: #3730a3;
  padding: 4px 8px;
  margin-right: 8px;
  font-size: 0.85rem;
  border-radius: 6px;
}

/* Footer */
.job_footer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  /* background-color: #114c8e; */
  padding: 5px;
}

.job_footer span{
    color: #fff;
}

/* Apply button */
.apply-btn {
  padding: 6px 14px;
  background: #111827;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.apply-btn:hover {
  background: #114c8e;
}

/* Responsive Breakpoints */
@media (max-width: 1200px) {
  .job-list {
    grid-template-columns: repeat(3, 1fr); /* 3 jobs per row */
  }
}

@media (max-width: 768px) {
  .job-list {
    grid-template-columns: repeat(2, 1fr); /* 2 jobs per row */
  }
}

@media (max-width: 480px) {
  .job-list {
    grid-template-columns: 1fr; /* 1 job per row */
  }
}
