.flashSalesContainer{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    /* justify-content: flex-start; */
    flex-wrap: wrap;
}
.productContainer{
    margin: 20px;
    border: 1px solid #e5e7eb;
    padding: 10px;
    border-radius: 10px;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.banner_image{
    width: 500px;
}