@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
/* IE/Edge */
/* html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
} */

/* Chrome, Safari */
/* html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
} */
